<footer class="py-4 bg-black text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <h5>Corundium</h5>
                    <p>Кооперативная игра с открытым миром</p>
                </div>
                <div class="col-md-4 mb-4">
                    <h5>Соцсети</h5>
                    <a href="https://t.me/devfuckers" target="_blank" class="text-white me-2"> Telegram</a>
                </div>
                <div class="col-md-4 mb-4">
                    <h5>Контакты</h5>
                    <p>Email: corundium@outlook.com</p>
                    <p>© 2025 Corundium Team</p>
                </div>
            </div>
        </div>
    </footer>
</html>